<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.pharmacy.model.mapper.PharmacyMapper">

	<resultMap type="PharmacyList" id="PharmacyListMap">
		<id 	property="pharmacyNo" 	column="pharmacyNo"/>
		<result property="hpid" 		column="hpid"/>
		<result property="dutyName" 	column="dutyName"/>
		<result property="dutyAddr" 	column="dutyAddr"/>
		<result property="star" 		column="star"/>
		<result property="reviews" 		column="reviews"/>
	</resultMap>
	
	<resultMap type="PharmacyInfo" id="PharmacyInfoResultMap">
		<id 	property="pharmacyNo" 		column="pharmacyNo"/>
		<result property="hpid" 			column="hpid"/>
		<result property="dutyName" 		column="dutyName"/>
		<result property="dutyAddr" 		column="dutyAddr"/>
		<result property="dutyInf" 			column="dutyInf"/>
		<result property="dutyTel1" 		column="dutyTel1"/>
		
		<result property="dutyTime1c" 		column="dutyTime1c"/>
		<result property="dutyTime2c" 		column="dutyTime2c"/>
		<result property="dutyTime3c" 		column="dutyTime3c"/>
		<result property="dutyTime4c" 		column="dutyTime4c"/>
		<result property="dutyTime5c" 		column="dutyTime5c"/>
		<result property="dutyTime6c" 		column="dutyTime6c"/>
		<result property="dutyTime7c" 		column="dutyTime7c"/>
		<result property="dutyTime8c" 		column="dutyTime8c"/>
		
		<result property="dutyTime1s" 		column="dutyTime1s"/>
		<result property="dutyTime2s" 		column="dutyTime2s"/>
		<result property="dutyTime3s" 		column="dutyTime3s"/>
		<result property="dutyTime4s" 		column="dutyTime4s"/>
		<result property="dutyTime5s" 		column="dutyTime5s"/>
		<result property="dutyTime6s" 		column="dutyTime6s"/>
		<result property="dutyTime7s" 		column="dutyTime7s"/>
		<result property="dutyTime8s" 		column="dutyTime8s"/>
		
		<result property="postCdn1" 		column="postcdn1"/>
		<result property="postCdn2" 		column="postCdn2"/>
		<result property="wgs84Lon" 		column="wgs84Lon"/>
		<result property="wgs84Lat" 		column="wgs84Lat"/>
		<result property="pharmacyImg" 		column="pharmacyImg"/>
	</resultMap>
	
	<resultMap type="PharmacyReview" id="PharmachReviewResultMap">
		<!-- ================================= 추가부분 ===================================== -->
		<id 	property="pharmacyNo" 	column="pharmacyNo"/>
		<result property="star" 		column="star"/>
		<result property="content"		column="content"/>
		<result property="memberNo"		column="memberNo"/>
		<result property="createDate"	column="create_date"/>
		<result property="reviewNo"		column="reviewNo"/>
		<result property="reviews"		column="reviews"/>
		<!-- ================================= 추가부분 ===================================== -->
	</resultMap>
		

	<!-- 상세페이지 구간 -->
	<!-- MySQL의 페이징 기능을 활용한 코드 -->
	<!-- 이 코드는 상세페이지의 정보와 별점과 리뷰 갯수 불러올 때 쓰임 -->
	<select id="selectPharmacyInfoList" resultMap="pharmacyInfoListResultMap" parameterType="map">
		SELECT  
			p.pharmacyNo, hpid, dutyName, dutyAddr, dutyInf, dutyTel1,
			dutyTime1c, dutyTime2c, dutyTime3c, dutyTime4c, dutyTime5c, dutyTime6c, dutyTime7c, dutyTime8c,
			dutyTime1s, dutyTime2s, dutyTime3s, dutyTime4s, dutyTime5s, dutyTime6s, dutyTime7s, dutyTime8s,
			wgs84Lon, wgs84Lat,
			COUNT(reviewNo) AS reviews, content, memberNo, AVG(star) AS star
		FROM pharmacy p 
		JOIN review_pharmacy r ON(p.pharmacyNo = r.pharmacyNo) 
		WHERE 1 = 1
		ORDER BY p.pharmacyNo DESC LIMIT ${limit} OFFSET ${offset}
	</select>

	<!-- 그냥 만들어봤는데 이거 어따슴? 흠 마이페이지에서 쓰일 듯 -->
	<select id="selectPharmcyInfoCount" resultType="int" parameterType="map">
		SELECT  
			COUNT(*)
		FROM review_pharmacy r JOIN pharmacy p ON(p.pharmacyNo = r.pharmacyNo) 
		WHERE 1 = 1
	</select>	
	
	
	<resultMap type="Board" id="pharmacyInfoDetailResultMap" extends="PharmacyInfoResultMap">
		<collection property="replies" javaType="arrayList" columnPrefix="R_" resultMap="PharmachReviewResultMap"/>
	</resultMap>
	
	
	<!-- 상세페이지의 사람들이 달아놓은 리뷰 내용 출력 3개조인 -->
	<!-- ======================================= 이 부분 할것 2022 12-30 03:01============================= -->
	<select id="selectPharmacyInfoByNo" parameterType="int" resultMap="pharmacyInfoDetailResultMap">
		SELECT  
			B.NO, B.TITLE, M.ID, B.READCOUNT, B.TYPE, B.ORIGINAL_FILENAME, B.RENAMED_FILENAME, B.CONTENT, B.CREATE_DATE, B.MODIFY_DATE,
			R.NO AS R_NO, 
		    R.BOARD_NO AS R_BOARD_NO, 
		    R.CONTENT  AS R_CONTENT, 
		    M2.ID  AS R_ID, 
		    R.CREATE_DATE  AS R_CREATE_DATE, 
		    R.MODIFY_DATE  AS R_MODIFY_DATE
		FROM BOARD B
		JOIN MEMBER M ON(B.WRITER_NO = M.NO)
		LEFT OUTER JOIN REPLY R ON (B.NO = R.BOARD_NO)
		LEFT OUTER JOIN MEMBER M2 ON (R.WRITER_NO = M2.NO)
		WHERE B.STATUS = 'Y' AND B.NO = #{no}
	</select>
	
	



	
	
	<!-- 검색페이지 구간 -->
	<select id="selectPharmacyList" resultMap="PharmacyListMap" parameterType="map">
		SELECT
			P.pharmacyNo, hpid, dutyName, dutyAddr, 
			AVG(star) AS star, COUNT(reviewNo) AS reviews
		FROM PHARMACY P
		LEFT JOIN REVIEW_PHARMACY R ON P.pharmacyNo = R.pharmacyNo
		WHERE 1 = 1
		<if test="searchValue != null">
			AND dutyName LIKE '%${searchValue}%'
		</if>
		<if test="searchCity != null">
			AND dutyAddr LIKE '%${searchCity}%'
		</if>
		<if test="searchTown != null">
			AND dutyAddr LIKE '%${searchTown}%'
		</if>
		GROUP BY P.hpid
		<if test="name == null and star == null and review == null">
			ORDER BY P.pharmacyNo DESC 
		</if>
		<if test="name != null">
			ORDER BY dutyName 
		</if>
		<if test="star != null">
			ORDER BY star
		</if>
		<if test="review != null">
			ORDER BY reviews
		</if>
		LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectPharamcyCount" resultType="int" parameterType="map">
		SELECT  
			COUNT(*)
		FROM PHARMACY
		WHERE 1 = 1
		<if test="searchValue != null">
			AND dutyName LIKE '%${searchValue}%'
		</if>
		<if test="searchCity != null">
			AND dutyAddr LIKE '%${searchCity}%'
		</if>
		<if test="searchTown != null">
			AND dutyAddr LIKE '%${searchTown}%'
		</if>
	</select>
	
</mapper>